# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\courses\Study\learn_cpp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
